.dt{position:absolute;background-color:#fff;top:50px;left:0px;z-index:200;transition:all 0.3s ease;opacity:.5;filter:alpha(apacity=50);
max-height:0;max-height:0;overflow:hidden;border-radius:50%;width:210px;box-shadow:0px 0px 4px 0px #4C4C4C;}
.dt.show{max-height:550px;max-width:520px;border-radius:2px;opacity:1;display:block;}		
.dt .dt_calendar_head{font-size:14px;background-color:#3498db;text-align:center;padding-bottom:10px;position:relative;color:#fff;}	
.dt .dt_calendar_head .dt_calendar_head_detail{line-height:25px;display:block;width:100%;font-size:12px;background-color:#0B79AB;
font-weight:300;}
.dt .dt_calendar_head .dt_calendar_head_left{position:absolute;left:10px;top:0px;padding:6px 0;}
.dt .dt_calendar_head .dt_calendar_head_left .dt_calendar_year_pre{float:left;}
.dt .dt_calendar_head .dt_calendar_head_left .dt_calendar_year_pre:hover .dt_ca_year_pre,
.dt .dt_calendar_head .dt_calendar_head_left .dt_calendar_month_pre:hover{border-right:5px solid #DADADA !important;cursor:pointer;}
.dt .dt_calendar_head .dt_calendar_head_left .dt_ca_year_pre{border-right:5px solid #fff !important;float:left;}

.dt .dt_calendar_head .dt_calendar_head_left .dt_calendar_month_pre{float:left;border-right:5px solid #fff !important;margin-left:5px;}

.dt .dt_calendar_head .dt_calendar_head_right{position:absolute;right:10px;top:0px;padding:6px 0;}
.dt .dt_calendar_head .dt_calendar_head_right .dt_calendar_year_next{float:right;}
.dt .dt_calendar_head .dt_calendar_head_right .dt_calendar_year_next:hover .dt_ca_year_next,
.dt .dt_calendar_head .dt_calendar_head_right .dt_calendar_month_next:hover{border-left:5px solid #DADADA !important;cursor:pointer;}
.dt .dt_calendar_head .dt_calendar_head_right .dt_ca_year_next{border-left:5px solid #fff !important;float:right;}

.dt .dt_calendar_head .dt_calendar_head_right .dt_calendar_month_next{border-left:5px solid #fff !important;float:right;margin-right:5px;}

.dt .dt_calendar_head .model{display:block;border-bottom:5px solid transparent;border-top:5px solid transparent;
border-left:5px solid transparent;border-right:5px solid transparent;}

.dt .dt_calendar_detail{width:100%;transition:all 0.3s ease;}
.dt .dt_calendar_detail .dt_calendar_detail_week{width:100%;font-size:0;}
.dt .dt_calendar_detail span{display:block;float:left;width:30px;height:30px;line-height:30px;color:#888;font-size:14px;text-align:center;}
.dt .dt_calendar_detail .dt_calendar_detail_day{width:100%;font-size:0;}
.dt .dt_calendar_detail .dt_calendar_detail_day span{color:#000;transition:all 0.3s ease;border-radius:50%;width:20px;height:20px;line-height:20px;margin:5px;}
.dt .dt_calendar_detail .dt_calendar_detail_day span.active{background:#27ae60;color:#fff;cursor:pointer;}
.dt .dt_calendar_detail .dt_calendar_detail_day .dt_day:hover{background-color:#C7C7C7;color:#fff;cursor:pointer;}
.dt .dt_calendar_bottom{width:100%;transition:all 0.3s ease;font-size:12px;color:#fff;background-color:#3498db;float:left;height:30px;}
.dt .dt_calendar_bottom span{display:block;float:left;width:60px;height:20px;line-height:20px;margin:5px 5px;cursor:pointer;text-align:center;
transition:all 0.3s ease;border-radius:2px;}
.dt .dt_calendar_bottom .btn:hover{background-color:#0B79AB;}
